/*
 *= require admin/spree_backend
*/




#sortable_menu { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: 60%; 
}
#sortable_menu li { 
  margin: 0 0 0 0; 
  padding: 5px; 
  font-size: 1.2em; 
  /*height: 1.5em; */
  float: left;
}
html>body #sortable_menu li {
  /*height: 1.5em; */
  line-height: 1.2em; 
}
.ui-state-highlight { 
  height: 1.5em; 
  line-height: 1.2em; 
}
.clear{
  float: none;
}