<div id="errors">

	<ul id="list-errors">

		<li>Errors:<span id="msg"> (The menu has ben reset to the last stable update)</span></li>

		<% @errors[:base].each do |e| %>
			<li><%= e %></li>
		<% end %>
		
	</ul>
	
</div>