
<script>

	$().ready(function(){
		
		$('#sortable_menu').sortable({
	    	placeholder: "ui-state-highlight", 
	    	stop: function(event, ui){}
  		});
  		$('#sortable_menu').disableSelection();
		
		$('.slide-list').hide();
		$('.slide-trigger').click(function() {
			icon_tool = $(this).find('i').first();
  			$(this).next().slideToggle('fast', function() {
  				if($(icon_tool).attr('class') == 'icon-chevron-down')
  					$(icon_tool).attr('class', 'icon-chevron-up');
  				else
  					$(icon_tool).attr('class', 'icon-chevron-down');
  			});
		});
		
		$('.add-remove').click(function(event){
			if($(this).attr('data-state') == 'add')
				add_item($(this));
			else
				remove_item($(this));
			
			event.stopPropagation()
		});
		
		$('#button-collapse').click(function(){
			$('.slide-list').slideUp();
		});
		
		$('#button-ready').click(function(){
			generate_form();
			$('#btn-menu-commit').click();
		});
		
		add_events_tree();
		generate_tab_width();		
		
	});

	function generate_tab_width(){
		leftMargin = 10
		$('ul').each(function(){
			depth = parseInt($(this).attr('data-d'));
			$(this).css('margin-left', leftMargin * depth);
		});
	}
	
	function generate_form(){
	fields = '';
		$('#container-sortable-menu ul li').each(function(index){
			taxonomy_name = $(this).find('span').eq(1).text();
			taxonomy_id = $(this).attr('data-id');
			taxonomy_index = index;
			taxonomy_depth = $(this).find('input[id="depth_' + taxonomy_id + '"]').val();

			taxonomy_name_field = '<input name="menu[][name]" type="hidden" value="' + taxonomy_name + '" />';
			taxonomy_id_field = '<input name="menu[][id]" type="hidden" value="' + taxonomy_id + '" />';
			taxonomy_index_field = '<input name="menu[][index]" type="hidden" value="' + taxonomy_index + '" />';
			taxonomy_depth_field = '<input name="menu[][depth]" type="hidden" value="' + taxonomy_depth + '" />';
			
			fields += taxonomy_name_field + taxonomy_id_field + taxonomy_index_field + taxonomy_depth_field;
			
		});
		
		fields+= '<input id="btn-menu-commit" name="commit" type="submit" />';
		
		$('#form-fields').html(fields);
	}
	
	function add_events_tree(){
		$('.li-element a i').hover( 
      function () { 
        $(this).addClass('icont-black'); 
      },  
      function () { 
        $(this).removeClass('icont-black');
      } 
    );
	}

	function remove_item(element){
		name = element.parent().parent().attr('data-name');
		id = element.parent().parent().attr('data-id');
		
		$('#sortable_menu').children("[data-id=" + id + "]").remove()
		
		item = '#' + name;
		$(item).children('a').attr('data-state', 'add');
		$(item).children('a').html('<i class="icont-plus"></i>');
		
		add_events_tree();
	}

	function add_item(element){
		name = element.parent().parent().attr('data-name');
		id = element.parent().parent().attr('data-id');
		
		$('#sortable_menu').append('<li data-id="'+ id +'"><span><i class="icon-move"></i></span><span>' + name + '</span><span><input id="depth_'+ id +'" max="3" min="1" name="depth_'+ name +'" type="number" value="1" /></span></li>');
		
		item = '#' + name;
		$(item).children('a').attr('data-state', 'remove');
		$(item).children('a').html('<i class="icont-minus"></i>');
		
		add_events_tree();
	}
</script>
