<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<div>
  <%= render 'menu_preview'%>
</div>
<div id="taxonomy_tree" class="tree jstree jstree-0 jstree-focused jstree-apple">
  <ul>
    <% if @taxonomies.count > 0 %>
      <%@taxonomies.each do |taxonomy|%>

        <li class="jstree-last">
          <ins class="jstree-icon">&nbsp;</ins>
          <%= taxonomy.name %>
        </li>
      <% end %>    
    <% end %>
  </ul>
</div>