<ul>
	<% taxon.children.each do |item| %>
		<li>
			<%= fancy_item_dropdown_link(item) %>
			<% if need_render?(depth, item) %>
				<%= render(:partial => 'spree/shared/set_fancy_menu_dropdown_items', :locals => { :taxon => item, :depth => depth + 1 }) %>
			<% end %>
		</li>
	<%end%>
</ul>